body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 400;
    font-size: 20px;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 12px;
    background-color: #79D6FF;
    width: 150px;
    text-align: center;
}

section {
    width: 200px;
    padding: 20px;
    text-align: center;
    border: 1px solid gray;
    margin-bottom: 10px;
}

img {
    width: 50px;
}