@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #333;
    margin: 0;
}

nav {
    padding: 20px;
}

nav h1 {
    margin-right: auto;
}

nav a, footer a {
    text-decoration: none;
    color: #7A7A7A;
    margin-left: 20px;
    text-transform: capitalize;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
}

p {
    border: none;
}

header h1 {
    font-weight: 700;
    font-size: 40px;
}

h1, h2, h3, h4 {
    color: #000;
}

h4 {
    margin: 0;
    font-size: 51px;
    color: #FFF;
    background-color: #000;
    line-height: 100px;
    padding: 10px;
}

h2, h3 {
    font-size: 20px;
    background-color: #FCEE21;
}

.coiny {
    font-family: "Coiny", cursive;
}

header, main, aside, footer {
    width: 100%;
}

header img {
    width: 70%;
    margin-left: 30%;
}

aside img {
    width: 50%;
}

main {
    font-size: 21px;
}

section {
    width: 45%;
}

footer {
    height: 100px;
    padding: 10px;
    background-color: #FCEE21;
}

footer h1 {
    font-size: 33px;
}